{% extends 'base.html.twig' %}

{% block title 'agence Lorem Ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, corporis delectus deleniti doloribus esse, ipsam iure natus neque officiis omnis pariatur perspiciatis, praesentium reprehenderit sequi suscipit tempora velit. Corporis, repellat.</p>
    </div>

    <div class="container">
        <h2 class="text-center">Les derniers biens</h2>
        <div class="row flex mt-4">
            {% for property in properties %}
                <div class="col-md-4 mb-2">
                    {% include 'properties/_property.card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}