{% extends 'base.html.twig' %}

{% block title 'Liste des biens - agence Lorem Ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum error, illo incidunt neque nihil odit tempore! Consequuntur, neque nesciunt nisi obcaecati quae quam quia saepe tempore, tenetur voluptas voluptatibus.</p>
    </div>

        <div class="container mt-4">

            {# Display cards with items #}
            <div class="row flex mt-4">
                {% for property in pagination %}
                    <div class="col-md-4 mb-2">
                        {% include 'properties/_property.card.html.twig' %}
                    </div>
                {% endfor %}
            </div>

            {# display navigation #}
            <div class="navigation mt-4">
                {{ knp_pagination_render(pagination) }}
            </div>

        </div>


{% endblock %}