{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi earum error, illo incidunt neque nihil odit tempore! Consequuntur, neque nesciunt nisi obcaecati quae quam quia saepe tempore, tenetur voluptas voluptatibus.</p>
    </div>

{% endblock %}